.green {
	font-size: 24pt;
	color: darkgreen;
	font-family: "Comic Sans MS";
	font-weight: bold;
}

h1 {
	font-size: 48pt;
	color: green;
	font-family: "Comic Sans MS";
	font-weight: bolder;
}

h3 {
	color: green;
	font-weight: bold;
}

body {
	font-family: "Comic Sans MS";
	background-color: black;
	color: green;
}